# PostgreSQL connection string
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/parkshare?schema=public"

# Generate a unique secret with at least 32 characters for signed session cookies.
SESSION_SECRET="replace-with-a-unique-random-secret-of-at-least-32-characters"
